@font-face {
    font-family: myFont;
    src: url(/fonts/dinprobold.ttf);
}

@font-face {
    font-family: myFontRegular;
    src: url(/fonts/dinproregular.ttf);
}

* {
    font-family: myFont;
}

body {
    background-color: #050505;
    overflow-x: hidden;
}

/* HEADER */

.header {
    display: flex;
    width: 2000px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0A0A0A;
}

.header-logo {
    width: 120px;
    height: 50%;
    margin-top: 15px;
    margin-left: 380px;
    position: relative;
    left: 25px;
}

a {
    text-decoration: none;
}

.film-text{
    color: white;
    font-size: 15px; 
    position: absolute;
    top: 20px;
    left: 770px;
}

.serial-text{
    color: white;
    font-size: 15px; 
    position: absolute;
    top: 20px;
    left: 860px;
}

.animasiya-text{
    color: white;
    font-size: 15px; 
    position: absolute;
    top: 20px;
    left: 970px;
}

.kinooapp-text{
    color: white;
    font-size: 15px; 
    position: absolute;
    top: 20px;
    left: 1180px;
}

/*  */


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.kesf-et-text,
.film-text,
.serial-text,
.animasiya-text,
.vip-text,
.kinooapp-text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 20px;
    animation: none;
}

.kesf-et-text:hover,
.film-text:hover,
.serial-text:hover,
.animasiya-text:hover,
.vip-text:hover,
.kinooapp-text:hover {
    animation: bounce 0.6s ease; /* Apply the bounce animation on hover */
}

.kesf-et-text{
    color: #ffb910;
    font-size: 15px; 
    position: absolute;
    top: 20px;
    left: 650px;
}

.vip-text{
    color: #ffb910;
    font-size: 15px; 
    position: absolute;
    top: 20px;
    left: 1100px;
}

/* ICONS */

.fa-compass{
    position: relative;
    top: 20px;
    left: 125px;
    color: #ffb910;
}

.fa-film{
    position: relative;
    top: 19px;
    left: 230px;
    color: #81838d;
    font-size: 15px;
}

.fa-tv{
    position: relative;
    top: 19px;
    left: 300px;
    color: #81838d;
    font-size: 15px;
}

.fa-dragon{
    position: relative;
    top: 19px;
    left: 390px;
    color: #81838d;
    font-size: 15px;
}

.fa-gem{
    position: relative;
    top: 19px;
    left: 506px;
    color: #ffb910;
    font-size: 18px;
}

.fa-download{
    position: relative;
    top: 19px;
    left: 568px;
    color: #81838d;
    font-size: 16px;
}

/* SEARCH */

.fa-magnifying-glass{
    width: 18px;
    height: 18px;
    color: gray;
    position: relative;
    top: 20px;
    left: 770px;
    cursor: pointer;
    font-size: 18px;
}

.fa-magnifying-glass:hover{
    color: #ffb910;
}

.film-text, 
.serial-text, 
.animasiya-text, 
.vip-text,
.kinooapp-text{
    transition: color 0.3s;
}

.film-text:hover, 
.serial-text:hover, 
.animasiya-text:hover, 
.vip-text:hover,
.kinooapp-text:hover{
    color: #ffb910;
}

.login-icon{
    position: relative;
    left: 880px;
    background-color: #161616;
    width: 60px;
    height: 80px;
}

.my-login{
    color: white;
    font-size: 16px;
    width: 60px;
    height: 80px;
    position: absolute;
    left: 22.5px;
    top: 20px;
}

.circle-div{
    display: flex;
    position: relative;
    top: -11px;
    left: -14.5px;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #95979d;
}

.fa-user{
    color: #f7f7f7;
    position: relative;
    top: -43px;
    left: 0;
}

.fa-user:hover{
    color: #efaf17;
}

/* TELEGRAM REKLAM */

.telegram-ad{
    width: 2000px;
    height: 35px;
    background-color: #1a2740;
    position: absolute;
    top: 60px;
    left: 0px;
}

.fanklub-ad{
    background-color: #0c0c0f;
    width: 1140px;
    height: 420px;
    position: relative;
    top: 130px;
    left: 400px;
    border-radius: 20px;
}

.cristal-icon{
    width: 50px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 50px;
}

.fankluba-qosul{
    position: relative;
    top: 20px;
    left: 55px;
    font-size: 40px;
    color: white;
}

.fankluba-qosul-alt{
    position: absolute;
    top: 90px;
    left: 50px;
    color: white;
    font-family: myFontRegular;
}

.ayliq-button{
    width: 248px;
    height: 48px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: absolute;
    top: 130px;
    left: 50px;
    background-color: #EFAF17;
    cursor: pointer;
    transition: background-color 0.9s;
}

.ayliq-button-alt{
    font-size: 13px;
    position: absolute;
    top: 185px;
    left: 50px;
    font-family: myFontRegular;
    color: #BDBDBD;
}

.ayliq-button:hover{
    background-color: rgb(255, 208, 0);
}

.fanklub-series-photo{
    width: 450px;
    height: 225.45px;
    display: flex;
    position: absolute;
    top: -20px;
    left: 610px;
}

.vip-kontentler-icon{
    width: 56px;
    height: 56px;
    position: absolute;
    top: 380px;
    left: 450px;
}

.vip-kontentler-text{
    color: white;
    position: absolute;
    top: 385px;
    left: 520px;
}

.vip-kontentler-text-alt{
    color: #BDBDBD;
    font-family: myFontRegular;
    font-size: 14px;
    position: absolute;
    top: 415px;
    left: 520px;
}

.istenilen-cihazdan-icon{
    width: 84px;
    height: 84px;
    position: absolute;
    top: 370px;
    left: 720px;
}

.istenilen-cihazdan-text{
    color: white;
    position: absolute;
    top: 370px;
    left: 815px;
}

.istenilen-cihazdan-text-alt{
    color: #BDBDBD;
    font-family: myFontRegular;
    font-size: 14px;
    position: absolute;
    top: 415px;
    left: 815px;
}

.reklamsiz-icon{
    width: 84px;
    height: 84px;
    position: absolute;
    top: 370px;
    left: 1000px;
}

.reklamsiz-text{
    color: white;
    position: absolute;
    top: 375px;
    left: 1100px;
}

.reklamsiz-text-alt{
    color: #BDBDBD;
    font-family: myFontRegular;
    font-size: 14px;
    position: absolute;
    top: 400px;
    left: 1100px;
}

.bize-qosul-icon{
    width: 84px;
    height: 84px;
    position: absolute;
    top: 370px;
    left: 1280px;
}

.bize-qosul-text{
    color: white;
    position: absolute;
    top: 375px;
    left: 1380px;
}

.bize-qosul-text-alt{
    color: #BDBDBD;
    font-family: myFontRegular;
    font-size: 14px;
    position: absolute;
    top: 400px;
    left: 1380px;
}

.telegram-ad{
    display: flex;
    font-size: 14px;
    position: absolute;
}

.link-telegram-ad{
    position: absolute;
    top: 8px;
    left: 680px;
    font-family: myFontRegular;
    color: #cdcdcd;
}

.telegram-ad-name{
    position: absolute;
    top: -2px;
    left: 400px;
    font-family: myFontRegular;
    color: #af851b;
    font-weight: bold;
    background-color: black;
    padding: 2.5px;

}

.icon-telegram-ad{
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    left: -2px; 
}

/* .first-slider{
    width: 1150px;
    height: 130px;
    filter: brightness(80%);
    position: absolute;
    display: flex;
    top: 590px;
    left: 410px;
    overflow-x: auto;
}

.first-slider::-webkit-scrollbar{
    width: 0;
}

.first-slider > a > img{
    width: 120px;
    height: 105px;
}

.slider-photo{
    border-radius: 15px;
    margin-right: 5px;
}

.first-slider a img{
    transition: transform 0.3s ease-out;
}

.first-slider a:hover img{
    transform: scale(1.1);
} */

.first-slider{
    width: 1150px;
    height: 130px;
    display: flex;
    position: relative;
    top: 180px;
    left: 400px;
    /* overflow: auto; */
}

/* .first-slider::-webkit-scrollbar{
    width: 0;
    height: 0;
} */

/* .first-slider:active{
    overflow-x: scroll;
} */

.first-slider a img{
    margin-right: 8px;
    border-radius: 15px;
    margin-top: 5px;
}

.first-slider .first-slider-photo{
    min-width: 116px;
    height: 104px;
    text-align: center;
}

.the-originals-slider{
    width: 125.7px;
    height: 110px;
}
.the-originals-slider{
    width: 125.7px;
    height: 110px;
}

.first-slider a img{
    transition: transform 0.3s ease-out;
}

.first-slider a:hover img{
    transform: scale(1.1);
}

.trend-part{
    position: relative;
    top: 180px;
    left: 400px;
    width: 1140px;
}

.trend-head{
    padding: 5px;
}

.trend-part-text{
    color: #d9d9d9;
    position: relative;
    top: -40px;
    left: 20px;
    font-size: 22px;
}

.fa-fire-flame-curved{
    color: #d9d9d9;
    font-size: 20px;
}

.fa-arrow-left{
    color: #5d616d;
    position: relative;
    top: -85px;
    left: 1095px;
}

.fa-arrow-right{
    color: #5d616d;
    position: relative;
    top: -85px;
    left: 1100px;
}

.trend-movies{
    display: flex;
    padding: 5px;
    position: relative;
    top: -80px;
}

.trend-movies-poster img {
    width: 155px;
    height: 205px;
    margin-right: 8px;
    border-radius: 15px;
    margin-top: 5px;
}

/* .content-years{
    position: absolute;
    margin: 6px;
    top: 12px;
    left: 10px;
    background: #0000009c;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    font-family: myFontRegular;
} */

.trend-movies-poster a img{
    transition: transform 0.5s ease-out;
}

.trend-movies-poster a:hover img{
    transform: scale(1.06);
}

.genres-part{
    position: absolute;
    top: 830px;
    left: 400px;
    width: 1130px;
}

.genres-head{
    position: absolute;
    top: 200px;
}

.genres-part-text{
    color: #d9d9d9;
    position: relative;
    top: -50px;
    left:40px;
    font-size: 22px;
}

.fa-sliders{
    color: #d9d9d9;
    position: relative;
    top: -8px;
    left: 10px;
    font-size: 20px;
}

.genres{
    display: flex;
    width: 1140px;
    height: 80px;
    position: absolute;
    top: 240px;
}

.genres-tag{
    width: 160px;
    height: 60px;
    background-color: #0f141d;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #1a2740;
}

.genres-tag a p{
    width: 140px;
    height: 42px;
    color: white;
    font-family: myFontRegular;
    position: relative;
}

.genres-tag{
    transition: transform 0.6s ease-out;
}

.genres-tag:hover{
    transform: scale(1.06);
}

.genres-tag p{
    transition: color 0.3s ease-out;
}

.genres-tag p:hover{
    color: #ffb910;
}

.fa-solid{
    transition: color 0.2s ease-out;
}

.fa-play{
    color: #d9d9d9;
    width: 30px;
    height: 30px;
    font-size: 25px;
    position: relative;
    top: 280px;
    left: 405px;
}

.boxes-container-h2 {
    color: #efefef;
    font-size: 18px;
    padding: 6px 12px;
    background-color: #1e222d;
    border-radius: 40px;
    width: fit-content;
    position: relative;
    top: 245px;
    left: 440px;
}

.boxes-container{
    width: 1140px;
    height: 224px;
    display: flex;
    position: relative;
    top: 165px;
    left: 380px;
    padding: 5px;
}

.box {
    position: relative;
    width: 200px;
    height: 320px;
    top: 100px;
    left: 20px;
    overflow: hidden; /* Üstündə hover olunca içindəki elementlərin çıxmasını önəmək üçün əlavə olunur */
}

.box:hover {
    transition: transform 0.5s ease-out;
    transform: scale(1.06);
}

.box a {
    display: block;
}

.box-photo {
    width: 175px;
    height: 245px;
    border-radius: 10px;
}

.box-year,
.box-imdb,
.box-type,
.box-name,
.box-category {
    position: absolute;
}

.box-year {
    top: 0;
    left: 0;
    margin: 6px;
    background-color: #0000009c;
    font-size: 11px;
    border-radius: 10px;
    padding: 2px 5px;
    color: white;
    font-family: myFontRegular;
}

.box-imdb {
    top: 5px;
    left: 140px;
    margin: 1px;
    z-index: 999;
    background: #ffb910;
    color: #000;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 15px;
    font-size: 11px;
}

.box-type {
    top: 215px;
    left: 0;
    margin: 7px;
    background: #0000009c;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 11px;
    color: white;
    font-family: myFontRegular;
}

.box-name {
    text-align: center;
    position: absolute;
    bottom: 48px;
    left: 0;
    width: 100%;
    color: #ffb910;
    font-size: 16.5px;
}

.box-category {
    text-align: center;
    position: absolute;
    bottom: 28px;
    left: 0;
    width: 100%;
    color: #dddddd;
    font-size: 12px;
    font-family: myFontRegular;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
    color: #ffb910;
}

.boxes-container-2{
    width: 1140px;
    height: 224px;
    display: flex;
    position: relative;
    top: 250px;
    left: 380px;
    padding: 5px;
}

.show-all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    background-color: #161c2e;
    font-size: 20px;
    border: none;
    padding: 20px 30px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    top: 450px;
    left: 800px;
}

.show-all a {
    color: white;
}

.show-all:hover{
    background-color: rgba(67, 87, 148, 0.588);
}

.boxes-container-3{
    display: flex;
    position: relative;
    width: 1140px;
    height: 224px;
    display: flex;
    position: relative;
    top: 380px;
    left: 380px;
    padding: 5px;
}

.second-fa-play{
    position: relative;
    top: 500px;
}

.boxes-container-h2-series {
    color: #efefef;
    font-size: 18px;
    padding: 6px 12px;
    background-color: #1e222d;
    border-radius: 40px;
    width: fit-content;
    position: relative;
    top: 465px;
    left: 440px;
}

.boxes-container-4{
    display: flex;
    position: relative;
    width: 1140px;
    height: 224px;
    display: flex;
    position: relative;
    top: 465px;
    left: 380px;
    padding: 5px;
}

.series-show-all{
    display: flex;
    position: relative;
    top: 665px;
}

/* SON ELAVE OLUNAN BOLUMLER */

.third{
    position: relative;
    top: 700px;
}

.third-text{
    top: 665px;
}

.last-episodes{
    width: 1140px;
    height: 70px;
    display: flex;
    position: relative;
    top: 680px;
    left: 400px;
    padding: 2px;
}

.episode-box{   
    position: relative;
    width: 220px;
    height: 64px;
    margin-right: 12px;
    background-color: #1e222d;
    transition: background-color 0.5s;
    border-radius: 5px;
}

.episode-box:hover{
    background-color: #282d3b;
}

.box a{
    display: block;
}

.episode-box-photo,
.episode-box-name,
.episode-box-episode,
.episode-box-date{
    position: absolute;
}

.last-episodes .episode-box img{
    width: 72px;
    height: 50px;
    margin: 6.5px;
}

.episode-box-name{
    color: #ffb910;
    top: 0;
    left: 80px;
    margin: 6px;
    font-family: myFontRegular;
}

.episode-box-episode{
    color: white;
    top: 5px;
    left: 65px;
    margin: 20px;
    font-size: 14px;
    font-family: myFontRegular;
}

.episode-box-date{
    color: #5d616d;
    top: 22px;
    left: 65px;
    margin: 20px;
    font-size: 12px;
    font-family: myFontRegular;
}

/* .footer-line{
    width: 100%;
    height: 3px;
    background-color: white;
    position: relative;
    top: 705px;
} */

/* PLATFORMALAR */

.platformalar{
    position: relative;
    top: 720px;
    left: 400px;
    width: 1140px;
}

.platformalar-head{
    padding: 5px;
}

.platformalar-part-text{
    color: #d9d9d9;
    position: relative;
    top: -45px;
    left: 35px;
    font-size: 22px;
}

.fa-layer-group{
    color: #d9d9d9;
    font-size: 22px;
}

.platformalar-movies{
    display: flex;
    padding: 5px;
    position: relative;
    top: -80px;
}

.platformalar-poster img {
    width: 155px;
    height: 205px;
    margin-right: 8px;
    border-radius: 15px;
    margin-top: 5px;
}

.platformalar-poster a img{
    transition: transform 0.5s ease-out;
}

.platformalar-poster a:hover img{
    transform: scale(1.06);
}

/* PREMIUM PLANS */

.first-box {
    width: 350px;
    height: 405px;
    background-color: #151f30;
    border-radius: 16px;
    margin-right: 10px;
}

.first-box-h3 {
    padding: 30px;
    font-size: 25px;
    color: white;
}

.first-box-line-1 {
    position: relative;
    top: -30px;
    left: 25px;
    width: 300px;
    height: 1px;
    background-color: #182943;
}

.first-box-line-2 {
    position: relative;
    top: -30px;
    left: 25px;
    width: 300px;
    height: 1px;
    background-color: #182943;
}

.first-box-h1 {
    color: white;
    position: relative;
    top: -40px;
    left: 25px;
}

.first-box-p {
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 100px;
}

.button-1 {
    width: 260px;
    height: 55px;
    background-color: #131720;
    border-radius: 16px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -45px;
    left: 45px;
}

.button-1 a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.plans-box ul {
    list-style-type: none;
    color: white;
    position: relative;
    top: -30px;
    left: -20px;
}

.plans-box ul li {
    padding: 6px;
}

.fa-check {
    color: #29b474;
    font-size: 12px;
}

.fa-x {
    color: red;
    font-size: 10px;
}

.plans-box{
    display: flex;
    position: relative;
    top: 700px;
    left: 440px;
}

.button-1:hover {
    background-color: #2b73d4;
}

.blue-box{
    background-color: #2b73d4;
}

.premium-line{
    background-color: #265fad;
}

.blue-box-button:hover{
    background-color: #1f3e69;
}

/* FOOTER */

.footer-line{
    width: 2000px;
    height: 2.5px;
    background-color: gray;
    position: relative;
    top: 730px;
    left: -10px;
}

.footer-caption img{
    width: 180px;
    height: 50px;
    position: relative;
    top: 750px;
    left: 400px;
}

.footer-caption p{
    color: white;
    font-family: myFontRegular;
    position: relative;
    top: 750px;
    left: 400px;
}

.footer-1 h3{
    color: white;
    font-size: 22px;
    position: relative;
    top: 650px;
    left: 800px;
}
/* 
.footer-tag{
    font-size: 10px;
}

.footer-tags{
    position: absolute;
    top: 3600px;
    left: 320px;
} */
