* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.fa-play {
    color: white;
    width: 18px;
    height: 18px;
}


.boxes-container{
    display: flex;
}

.boxes-container-h2{
    color: #efefef;
    font-size: 18px;
    padding: 6px 12px;
    background-color: #1e222d;
    border-radius: 40px;
}

a {
    text-decoration: none;
}

.box {
    position: relative;
    width: 185px;
    height: 303px;
    top: 100px;
    left: 20px;
    overflow: hidden; /* Üstündə hover olunca içindəki elementlərin çıxmasını önəmək üçün əlavə olunur */
}

.box:hover {
    transition: transform 0.5s ease-out;
    transform: scale(1.06);
}

.box a {
    display: block;
}

.box-photo {
    width: 175px;
    height: 245px;
    border-radius: 10px;
}

.box-year,
.box-imdb,
.box-type,
.box-name,
.box-category {
    position: absolute;
}

.box-year {
    top: 0;
    left: 0;
    margin: 6px;
    background-color: #0000009c;
    font-size: 11px;
    border-radius: 10px;
    padding: 2px 5px;
    color: white;
}

.box-imdb {
    top: 5px;
    left: 140px;
    margin: 1px;
    z-index: 999;
    background: #ffb910;
    color: #000;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 15px;
    font-size: 11px;
}

.box-type {
    top: 215px;
    left: 0;
    margin: 7px;
    background: #0000009c;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 11px;
    color: white;
}

.box-name {
    text-align: center;
    position: absolute;
    bottom: 28px;
    left: 0;
    width: 100%;
    color: #ffb910;
    font-size: 14px;
}

.box-category {
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    color: #dddddd;
    font-size: 12px;
}
